@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">RDLC Sub-Report in ASP.NET Core</h1>
</div>
<a id="btnPrint" class="btn btn-success" href="../Home/PrintReport" target="_blank">Print Report</a>
